body {
	box-sizing: border-box;
	background-color: #3c003c;
	/* padding-bottom: 50px; */
}

header {
	background-color: #3c003c;
	display: block;
	/* justify-content: space-between; */
	color:  whitesmoke;
	padding: 1px;
	top: 0;
	/* position: sticky; */
	max-width:  800px;
	margin: 0 auto;
	z-index: 6;
}

header>ul {
	/* background-color: white; */
	width:  100%;
	/* max-width: 100%; */
	/* right: 0; */
	position: relative;
	margin: 0;
	display: inline-flex;
	padding: 0;
	align-items: flex-end;
	flex-direction: row;
	right: 0;
	/* justify-content: space-between; */
	align-items: flex-end;
	/* display: flex; */
	justify-content: flex-end;
}

header>ul>li {
	padding-right: 20px;
	list-style: none;
}


main {
	margin: 0 auto;
	background-color: #3c003c;
	max-width: 800px;
}

a:hover {
	cursor: pointer;
	text-decoration: underline;
}

button {
	margin: 5px 0;
	border-radius:  5px;
	/* width: 25%; */
}

.hidden {
	display: none;
}

.edit-button {
	/* background-color: lightgray; */
	/* width:fit-content; */
	/* padding: 5px; */
	/* border-radius: 100%; */
	/* position: absolute; */
	/* left: 40px; */
	/* 	z-index: 1; */
}

.notes {
	height: 75px;
	transition: height .25s ease;
	resize: none;
	max-width: 75%;
	margin: 0 auto;
}

.area {
	padding: 10px 10px 10px 10px;
	/* 	margin: 15px; */
}

.area.location {
	/* display: flex; */
}



h3 {
	margin-top: 5px;
}

.area:nth-child(even) {
/* 	border: 1px black solid; */
	background-color: #f1f1f1;
}

.toggle-control::before {
	content: "add ";
}

.toggle-control.visible::before {
	content: "hide ";
}

.toggle-control {
	display:block;
	margin: 10px 0;
	font-size: .75em;
	text-align: center;
}

textarea {
	margin: 0 auto;
	resize: none;
	height: 100%;
	width: 100%;
}

.reveal {
	height: 0px;
	overflow:  none;
	transition: height .25s ease;
	height: 0px;
	overflow: hidden;
	margin-top: 10px;
}

h2 {
	margin: 10px;
}
#obs-list {
	display:flex;
	flex-direction: column;
}

.obs-list-item {
	background-color:  white;
	position: relative;
	/* border: 1px #b1b1b1 dashed; */
	padding: 4px;
	margin: 2px 6px;
	cursor: pointer;
	height:  100px;
	overflow:  hidden;
}

.obs-thumb {
	transition: all .75s ease-out;
	height: 100px;
	width: 100px;
	float: left;
	margin-right: 10px;
	display: flex;
	position: relative;
	background-size:  cover;
	z-index: 1;
	/* border: 5px black dashed; */
}

.obs-thumb>image {
	transition: all .75s ease-out;
	max-width: 200px;
	max-height: 100px;
	float: left;
	padding-right: 10px;
	/* display: block; */
	/* position: relative; */
}


.obs-img {
	/* border: 2px black solid; */
	transition: all .75s ease-out;
	max-width: 100%;/
	max-height: 1;*
	float: left; */
	padding-right: 10px;
	max-height: 75%;
	/* height: 500px; */
	padding-right:  0;
	/* display: block; */
	/* max-width:230px; */
	/* max-height:95px; */
	width: auto;
	/* height: auto; */
	}
/* 
#view-observation {
	position: fixed;
	z-index: 1;
} */

.observationBox {
	transition: all .5s cubic-bezier(0, 0, 0.51, 1.51);
	margin: 0 auto 39px auto;
	text-align: left;
	/* padding: 10px; */
	/* margin: 2px; */
	/* border: 5px black dashed; */
	top: 20px;
	/* left: 5px; */
	/* right: 5px; */
	max-width: 800px;
	/* height: 75%; */
	padding: 10px;
	position: absolute;
	background: white;
	display:  block;
	overflow-y:  auto;
	z-index: 15;
}

.static-map {
	max-width: 200px;
	max-height: 200px;
	float: right;
	/* top: 0; */
	/* position: absolute; */
	/* grid-column: 2; */
}

.img-preview {
	display: flex;
	flex-direction: row;
	flex-wrap:  wrap;
	justify-content:  space-evenly;
}

.thumb-div {
	max-width: 100px;
	position:  relative;
	text-align: center;
	margin: 10px 25px 5px 0;
	overflow-wrap: break-word;
}

.thumb-img {
	height: 75px;
	/* max-width: 100px; */
	/* position:  relative; */
}

.img-action {
	position: absolute;
	height: 20px;
	right: -10px;
	margin: 2px;
	filter: drop-shadow(1px 1px 0 white) 
	   drop-shadow(-1px 1px 0 white)  
	     invert(100%);
}

.img-action:hover {
	filter: invert(0);
}

.img-action.delete {
	position: absolute;
	top: -10px;
}

.img-action.featured {
	position: absolute;
	top: 12px;
}

.img-action.location {
	position: absolute;
	top: 38px;
}

.form-buttons {
	padding: 5px;
	position:  sticky;
	bottom:  0;
	margin-bottom: 20px;
	background-color:  white;
	display: flex;
	justify-content: space-around;
	box-shadow: 0px -2px 10px 0px #0000007a;
}

.photo-count {
	position: absolute;
	text-align: right;
	/* padding-right:  100px; */
	right: 2px;
	bottom: 2px;
	color: white;
	font-size:  .75em;
	text-shadow: 1px 1px 2px black;
}

.grayed {
	/* background-color: gray; */
	opacity: .5;
}

.featured-image {
	border: 3px solid black;
}

.obs-hero {
	max-width: 100%;
	/* border: black 1px solid; */
	/* box-shadow: 2px 2px 3px 0px #00000080; */
}

.obs-carousel {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content:  space-evenly;
	/* margin:  0 auto; */
}

.img-button {
	height: 75px;
	/* width: 18%; */
	margin: 1%;
}

.popup>img {
	position: fixed;
	top: 45%;
}

.loading-alert {
	background-color: white;
	/* top: 30%; */
	/* margin: 0 auto; */
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	padding: 20px;
	align-items: center;
	z-index: 11;
	display:  flex;
	flex-direction:  row;
	box-shadow: 3px 3px 5px 1px #00000087;
}

.loading-img {
	/* width: 100%; */
	z-index: 1003;
	display: inline-block;
	height: 100px;
	width:  100px;
}

.loading-text {
	/* position: fixed; */
	display: block;
	/* color: lightgray; */
	/* top: 56%; */
	/* left: 25%; */
	/* right: 25%; */
	font-size: 1.25em;
}

.popup {
	position: fixed;
	text-align:  center;
	top:0;
	left:0;
	width:100%;
	height: 150%;
	background:url(../media/overlay.png) repeat;
	z-index: 10;
}


.title{
	font-size: 1.1em;
}

.label {
	color: gray;
	margin-top: 0px;
	font-size: .5em;
	/* position: relative; */
	display: block;
	/* bottom: -2px; */
}

.area > .label {
	padding-top: 10px;
}

.inline.label {
	/* display: inline-flex; */
}

.classification {
	background-color: #f1f1f1;
	padding: 7px;
	border-radius: 5px;
	position:  relative;
	/* display:  grid; */
	/* grid-template-columns: 1fr 200px; */
}

.selected {
	/* color: red; */
	/* border: 2px red solid; */
	box-shadow: 3px 3px 4px grey;
	/* filter: blur; */
}

.observation-actions {
	display: inline-flex;
	/* padding:  2px; */
}
.observation-actions>a {
	margin-right: 10px;
}

.obs-action {
	position: absolute;
	height: 20px;
	left: 0;
	top: -2px;
	margin: 2px;
	filter: drop-shadow(1px 1px 0 white) 
			drop-shadow(-1px 1px 0 white)  
			invert(100%);
	z-index: 2;
}

.obs-action:hover {
	filter: invert(0);
}

.obs-details {
	/* background-color: pink; */
	position: relative;
	height:  100%;
	overflow:  hidden;
	padding-bottom:  4px;
	font-size: 1em;
} 

.obs-details:after {
	position: absolute;
	bottom: 0;
	left: 0; 
	right: 0; 
	height: 100%;
	width: 100%;
	content: "";
	background: linear-gradient(to top,
	   rgb(255, 255, 255) 5%, 
	   rgba(255, 255, 255, 0) 20%
	);
	pointer-events: none; /* so the text is still selectable */
  }
  
.fade {/* background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(204,204,204,0) 80%, rgba(255,255,255,1) 100%); *//* filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#ffffff',GradientType=0 ); */}

.obs-action.edit {
	/* color: red; */
}

.observation {
	background-color: white;
	max-width:  800px;
	margin: 0 5px;
}


.notes {
	background-color: bisque;
	color: rgb(78, 71, 61);
	font-size: .85em;
	font-style: italic;

}

.error {
	color: red;
}

.loc-opts {
/* 	border: 1px #b1b1b1 dashed; */
	padding: 10px;
	/* display: grid; */
	/* grid-template-columns: 30px 100%; */
}

.observation .label {margin-top: 5px;}

input[type=text] {
	border: lightgray 1px solid;
	padding: 4px;
	margin: 0;
	width:  100%;
}

#address-input, #nickname-input, #common-name-input {
	width: 100%;
	margin-right: 10px;
	box-sizing: border-box;
}

.confidence {
	display: flex;
	justify-content: space-evenly;
	flex-direction: row;
}

input[name="confidence"] {
	background-color: red;
	margin-right: 10p;
}

input.coord, #obs-date-input, #obs-time-input, #genus-input, #species-input {
    /* width: 85%; */
    width: 120px;
}

div.fungi {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

span.fungi {
    margin-left: 10px;
    font-size: .9em;
    font-style: italic;
    color: dimgrey;
}

#latlng, #datetime, .address-buttons, fungi {
	display: inline-flex;
	width: 100%;
	justify-content: space-between;
}

.address-buttons {
	flex-direction: column;
}

#datetime {
	/* display: inline-flex; */
	/* width: 100%; */
}

.habitat-details {
	display: flex;
	flex-direction: column;
	flex-flow: wrap;
}

.habitat-details>label {
	width: 32%;
	margin: 2px;
}

@media (min-width: 500px) {

	header {
		position: sticky;
	}

}

@media (min-width: 300px) {
	.address-bu