header {
	background-color: #eeeeee;
}
main {
	margin: 0 50px;
}

a:hover {
	cursor: pointer;
	text-decoration: underline;
}
.hidden {
	display: none;
}

.selected {
	color: red;
}

#obs-list {
	display:flex;
	flex-direction: column;
}

.obs-list-item {
	border: 1px #b1b1b1 dashed;
	padding: 5px;
	margin: 2px;
	cursor: pointer;
}

.obs-thumb {
	max-width: 200px;
	max-height: 200px;
	float: left;
	padding-right: 10px;
	display: block;
}

#view-observation {
	position: fixed;
	z-index: 1;
}

.grayed {
	/* background-color: gray; */
	opacity: .5;
}
.title{
	font-size: 1.5em;
    display: block;
}

.label {
	color: gray;
	font-size: .75em;
}

.error {
	color: red;
}
.loc-opts {
	border: 1px #b1b1b1 dashed;
	padding: 10px;
	display: grid;
	grid-template-columns: 30px 100%;
}
input.address {
	width: 200px;
}
.coord {
	width: 75px;
}
.observation .label {
/* 	padding: 0 10px; */
}

.fungi, .habitat {
	display:block;
}
.habitat-details {
	display: flex;
	flex-direction: column;
}