body {
	box-sizing: border-box;
}

header {
	background-color: #eeeeee;
}

main {
	margin: 0 50px;
}

a:hover {
	cursor: pointer;
	text-decoration: underline;
}

.hidden {
	display: none;
}

.edit-button {
	/* background-color: lightgray; */
	width:fit-content;
	/* padding: 5px; */
	/* border-radius: 100%; */
	/* position: absolute; */
	/* left: 40px; */
	/* 	z-index: 1; */
}

.notes {
	height: 75px;
	transition: height .25s ease;
	resize: none;
	max-width: 75%
}

.area {
	padding: 10px 10px 20px 10px;
/* 	margin: 15px; */
}

h3 {
	margin-top: 5px;
}

.area:nth-child(even) {
/* 	border: 1px black solid; */
	background-color: #f1f1f1;
}

.toggle-control::before {
	content: "show ";
}

.toggle-control.visible::before {
	content: "hide ";
}

.toggle-control {
	display:block;
	margin-top:10px;
	font-size: .75em;
}

textarea {
	resize: none;
	height: 100%;
	width: 100%;
}

.reveal {
	height: 0px;
	overflow:  none;
	transition: height .25s ease;
	height: 0px;
	overflow: hidden;
	margin-top: 10px;
}

.selected {
	color: red;
}

#obs-list {
	display:flex;
	flex-direction: column;
}

.obs-list-item {
	position:  static;
	border: 1px #b1b1b1 dashed;
	padding: 5px;
	margin: 2px;
	cursor: pointer;
}

.obs-thumb {
	transition: all .75s ease-out;
	max-width: 200px;
	max-height: 200px;
	float: left;
	padding-right: 10px;
	display: block;
}
.obs-img {
/* 	transition: all .75s ease-out; */
	max-width: 500px;
	max-height: 500px;
/* 	float: left; */
	padding-right: 10px;
	display: block;
}
/* 
#view-observation {
	position: fixed;
	z-index: 1;
} */

.observationBox {
	transition: all .5s cubic-bezier(0, 0, 0.51, 1.51);
	margin: 0 auto;
	/* text-align:  center; */
	padding: 10px;
	/* margin: 2px; */
	border: 5px black dashed;
	top: 40px;
	left: 10%;
	right: 10%;
	/* height: 75%; */
	width: 75%;
	/* 	padding: 15px; */
	position: fixed;
	background: white;
	overflow: auto;
}
.img-preview {
	display: flex;
	flex-direction: row;
}

.thumb-div {
	max-width: 100px;
	text-align: center;
	margin: 5px;
	overflow-wrap: break-word;
}

.thumb-img {
	height: 75px;
	/* max-width: 100px; */
}

.delete-img-action {
	position: absolute;
	size: .25em;
	color: rgb(255, 255, 255);
	text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
	margin: 3px;
	/* top: 20px; */
	/* right: 0; */
}

.grayed {
	/* background-color: gray; */
	opacity: .5;
}

.popup {
	position: fixed;
	/* display:flex; */
	text-align:  center;
	top:0;
	left:0;
	width:100%;
	height:100%;
	background:url(../media/overlay.png) repeat;
}

.title{
	font-size: 1.5em;
    display: block;
}

.label {
	color: gray;
	font-size: .75em;
}

.error {
	color: red;
}

.loc-opts {
/* 	border: 1px #b1b1b1 dashed; */
	padding: 10px;
	/* display: grid; */
	/* grid-template-columns: 30px 100%; */
}

.coord {
	width: 75px;
}
.observation .label {
/* 	padding: 0 10px; */
}

.habitat-details {
	display: flex;
	flex-direction: column;
	flex-flow: wrap;
}

.habitat-details>label {
	width: 32%;
	margin: 2px;
	/* background-color: pink; */
	/* flex-grow:  1; */
